@media only screen and (max-width: 1300px) {
  .mainContainer {
    padding: 0px 50px;
  }
  .welcomeWrapper .welcome-inner .welcome-inner-left .welcomeHeading {
    font-size: 36px;
    line-height: 44px;
  }
  .welcomeWrapper .welcome-inner .welcome-inner-left .welcomeTxt {
    font-size: 18px;
    line-height: 28px;
  }
  .talkToUsWrapper .talkToUsInner .talkToUsContent .talkToUsHeading {
    font-size: 36px;
  }
  .form-text {
    line-height: normal;
  }
  .customerFeedbackWrapper .customerFeedbackInner .customerFeedbacMsg {
    font-size: 28px;
    line-height: 38px;
  }
  .footerWrapper .footerTop .footerTopInner {
    flex-direction: column;
  }
  .footerWrapper .footerTop .footerTopInner .footerWelcome {
    padding-right: 0px;
    padding-bottom: 50px;
  }
  .footerWrapper .footerTop .footerTopInner .footerLinkWrapper {
    width: 100%;
  }
  .footerWrapper .footerTop .footerTopInner .footerLinkWrapper .footerLinkSec {
    margin-left: 0px;
    width: calc(33.33% - 30px);
    padding-left: 45px;
  }
  .footerWrapper .footerTop .footerTopInner .footerLinkWrapper .footerLinkSec:first-child {
    padding-left: 0px;
  }
  .stop-solution-sec .Heading-div {
    font-size: 28px;
  }
  .stop-solution-sec .stop-col {
    padding-left: 35px;
  }
  .service-new-sec {
    padding: 48px 0;
  }
  .service-new-sec .service-heading h2 {
    font-size: 28px;
    line-height: 1.56;
  }
  .service-new-sec .service-heading p {
    font-size: 18px;
  }
  .service-new-sec .service-col {
    padding: 0px;
    padding-left: 10px;
  }
  .service-new-sec .service-col:first-child {
    padding-left: 0px;
  }
  .solutions-services-sec {
    padding: 48px 0px;
  }
  .solutions-services-sec .solution-main-heading {
    line-height: 1.56;
    font-size: 28px;
    margin-bottom: 42px;
  }
  .solutions-services-sec .solutions-col-sec {
    width: calc(25% - 25px);
    margin-left: 30px;
  }
  .solutions-services-sec .solutions-col-heading {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .solutions-services-sec .solutions-link {
    font-size: 18px;
  }
  .start-here {
    padding-bottom: 48px;
  }
  .start-here .startMain-heading {
    font-size: 28px;
    line-height: 1.20;
  }
  .start-here .start-left-txt {
    font-size: 18px;
  }
  .start-here .start-col {
    width: calc(50% - 32px);
    padding-left: 64px;
  }
  .start-here .start-heading {
    font-size: 18px;
    line-height: 1.5;
  }
  .start-here .start-txt-contant {
    line-height: 1.5;
  }
  .tech-casestudies-sec .heading {
    font-size: 28px;
    line-height: 48px;
  }
  .tech-casestudies-sec .contentTxt {
    font-size: 18px;
    line-height: 1.5;
  }
  .our-company-sec .company-icon {
    max-width: 48px;
  }
  .our-company-sec .company-Heading {
    font-size: 20px;
  }
  .our-company-sec .company-txt {
    font-size: 20px;
  }
  .our-company-sec .read-more-btn {
    font-size: 20px;
  }
  .technologySolutionHeader {
    background-position: bottom;
    background-size: 100%;
  }
  .teamMemberWrapper .teamMemberSec .teamMemberList {
    max-width: calc(33.33% - 30px);
  }
  .aboutUsWrapper {
    padding: 48px 0;
  }
  .partnerWrapper .partnerInner .partnerDetailsWrapper .partnerContent .contentTxt {
    font-size: 18px;
    line-height: 28px;
    padding-right: 80px;
  }
  .teamMemberWrapper {
    padding: 48px 0;
  }
  .teamMemberWrapper .workingMemberWrapper {
    margin-bottom: 48px;
  }
  .teamMemberWrapper .workingMemberWrapper .heading {
    display: flex;
    align-items: center;
  }
  .sec-be-you-plus {
    margin-left: 70px;
  }
  .business-banner {
    margin-top: 0px;
    padding-top: 120px;
  }
  .business-bnner-img {
    margin: 0px;
  }
  .our-service-sec {
    padding: 48px 0px;
  }
  .service-heading h2 {
    width: 100%;
  }
}

@media only screen and (max-width: 1024px) {
  .mainContainer {
    padding: 0px 30px;
  }
  .header .navSection .logo {
    z-index: 1;
  }
  .header .backCall {
    display: none;
  }
  .header .mobile-backCall {
    display: list-item;
  }
  .header .mobile-backCall .backCall {
    display: flex;
  }
  .header .navSection {
    justify-content: space-between;
  }
  .header .navWrapper .navMenu {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 72px);
    padding-top: 100px;
    background: #fff;
    width: 30%;
    align-items: baseline;
    padding-left: 50px;
    left: -100%;
    position: absolute;
    transition: all 0.8s ease;
  }
  .header .navWrapper.nav-open {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background: #ffffff87;
  }
  .header .navWrapper.nav-open .navMenu {
    display: flex;
    left: 0;
    transition: all 0.8s ease;
  }
  .header .navWrapper.nav-open .navMenu .navItem {
    padding: 0px;
    padding-bottom: 16px;
  }
  .header .mobile-close-btn {
    cursor: pointer;
    background: none;
    outline: none;
    border: none;
    display: inline-block;
    vertical-align: top;
    margin: 0;
    position: relative;
    z-index: 999;
    width: 30px;
  }
  .header .mobile-close-btn .mobile-btn-line {
    width: 100%;
    height: 2px;
    background: #000;
    border-radius: 1px;
    display: block;
    margin: 0 0 7px;
    position: relative;
    transition: all .3s ease-out;
  }
  .header .mobile-close-btn .mobile-btn-line:last-child {
    margin: 0px;
  }
  .header .mobile-close-btn.open-menu .mobile-btn-line:nth-child(1) {
    transform: rotate(45deg);
    position: relative;
    top: 3px;
    left: 0;
  }
  .header .mobile-close-btn.open-menu .mobile-btn-line:nth-child(2) {
    display: none;
  }
  .header .mobile-close-btn.open-menu .mobile-btn-line:nth-child(3) {
    transform: rotate(-45deg);
    top: -6px;
  }
  .collaboratingWrapper .locationCollaboratingWrapper {
    flex-wrap: wrap;
  }
  .collaboratingWrapper .locationCollaboratingWrapper .locationCollaboratingList {
    width: calc(50% - 70px);
    margin-bottom: 20px;
  }
  .collaboratingWrapper .locationCollaboratingWrapper .locationCollaboratingList:nth-child(2n + 2) {
    margin-right: 0px;
  }
  .customerFeedbackWrapper .customerFeedbackInner .customerFeedbacMsg {
    font-size: 24px;
    line-height: 32px;
  }
  .talkAboutProject .talkAboutProjectSec {
    flex-direction: column;
  }
  .talkAboutProject .talkAboutProjectSec .talkAboutProjectSchedule {
    margin-bottom: 50px;
  }
  .talkAboutProject .talkAboutProjectSec .locationDetails {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .talkAboutProject .talkAboutProjectSec .locationDetails .locationAddress {
    margin-bottom: 0px;
    position: relative;
    width: calc(50% - 25px);
    margin-bottom: 30px;
  }
  .talkAboutProject .talkAboutProjectSec .locationDetails .locationAddress:nth-child(2n + 2) {
    margin-left: 25px;
  }
  .talkAboutProject .talkAboutProjectSec .locationDetails .locationAddress .locationImgSec {
    padding-right: 0px;
    max-width: unset;
    position: absolute;
    bottom: 0px;
    max-width: 240px;
  }
  .talkAboutProject .talkAboutProjectSec .locationDetails .locationAddress .locationRightSec {
    border-left: none;
    padding-left: 0px;
    padding-bottom: 130px;
  }
  .talkAboutProject .talkAboutProjectSec .talkAboutProjectSchedule {
    max-width: 100%;
    display: flex;
    flex-direction: column;
  }
  .talkAboutProject .talkAboutProjectSec .talkAboutProjectSchedule .talkHeading {
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 28px;
  }
  .talkAboutProject .talkAboutProjectSec .talkAboutProjectSchedule .blueBtn {
    width: fit-content;
  }
  .headerBtn, .blueBtn {
    border-radius: 28px;
  }
  .footerWrapper .footerTop .footerTopInner .footerLinkWrapper .footerLinkSec {
    width: calc(33.33% - 20px);
    padding-left: 30px;
  }
  .serviceBanner .welcome-inner .welcome-inner-left .welcomeHeading {
    font-size: 30px;
    line-height: 36px;
  }
  .stop-solution-sec {
    padding: 48px 0px;
  }
  .stop-solution-sec .Heading-div {
    font-size: 28px;
  }
  .stop-solution-sec .aboutTechInner {
    flex-wrap: wrap;
  }
  .stop-solution-sec .stop-col {
    width: 100%;
    padding-bottom: 20px;
    padding-left: 0px;
  }
  .stop-solution-sec .stop-col:last-child {
    padding-bottom: 0px;
  }
  .stop-solution-sec .stop-col:first-child {
    width: 100%;
  }
  .service-new-sec {
    padding: 48px 0;
  }
  .service-new-sec .read-more-btn {
    font-size: 18px;
  }
  .service-new-sec .service-main-outer {
    margin-left: 0px;
    margin-right: 0px;
  }
  .service-new-sec .service-col {
    width: calc(50% - 10px);
    margin-bottom: 20px;
    margin-right: 0px;
    padding: 0px;
    z-index: 1;
  }
  .service-new-sec .service-col:nth-child(2n + 2) {
    margin-left: 20px;
  }
  .service-new-sec .service-col:first-child {
    padding-left: 0px;
  }
  .solutions-services-sec .solutions-col-sec {
    width: calc(50% - 25px);
    margin-left: 0px;
    margin-bottom: 30px;
  }
  .solutions-services-sec .solutions-col-sec:nth-child(2n + 2) {
    margin-left: 30px;
  }
  .solutions-services-sec .solutions-col-heading {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .solutions-services-sec .solutions-link {
    font-size: 18px;
  }
  .start-here {
    padding-bottom: 48px;
  }
  .start-here .start-here-row {
    flex-direction: column;
  }
  .start-here .start-col-left {
    width: calc(50% - 30px);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .start-here .start-left-img {
    width: 50%;
    margin-left: 30px;
  }
  .start-here .start-card {
    width: calc(50% - 10px);
    margin-bottom: 20px;
    box-sizing: border-box;
  }
  .start-here .start-card:last-child {
    margin-bottom: 20px;
  }
  .start-here .start-card:nth-child(2n + 2) {
    margin-left: 20px;
  }
  .start-here .startMain-heading {
    font-size: 28px;
    line-height: 1.20;
  }
  .start-here .start-left-txt {
    font-size: 18px;
  }
  .start-here .start-col {
    width: 100%;
    padding-left: 0px;
    display: flex;
    flex-wrap: wrap;
  }
  .start-here .start-col:first-child {
    margin-bottom: 70px;
  }
  .start-here .start-heading {
    font-size: 18px;
    line-height: 1.5;
  }
  .start-here .start-txt-contant {
    line-height: 1.5;
  }
  .tech-casestudies-sec .heading {
    font-size: 28px;
    line-height: 48px;
  }
  .tech-casestudies-sec .contentTxt {
    font-size: 18px;
    line-height: 1.5;
  }
  .our-company-sec .company-icon {
    max-width: 48px;
  }
  .our-company-sec .company-Heading {
    font-size: 20px;
  }
  .our-company-sec .company-txt {
    font-size: 18px;
  }
  .our-company-sec .read-more-btn {
    font-size: 18px;
  }
  .our-company-sec .company-col {
    width: calc(50% - 52px);
    padding-left: 53px;
    margin-left: 51px;
  }
  .why-tech-sec {
    padding: 48px 0px 0px;
  }
  .whyus-heading {
    font-size: 28px;
    line-height: 38px;
  }
  .why-us-row .why-us-col {
    flex-direction: column;
    padding: 15px 0;
  }
  .why-us-row .why-us-col:before {
    top: auto;
  }
  .why-us-row .why-us-col h4 {
    max-width: 90%;
    flex: 0 0 90%;
    margin-right: 0px;
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 28px;
  }
  .why-us-row .why-us-col .collaps-cont {
    width: 100%;
  }
  .aboutTechWrapper {
    padding: 48px 0;
  }
  .aboutTechWrapper .aboutTechInner {
    flex-direction: column;
    text-align: center;
  }
  .aboutTechWrapper .aboutTechInner .heading {
    min-width: 100%;
    padding: 0px;
    padding-bottom: 20px;
    font-size: 28px;
    line-height: 40px;
  }
  .aboutTechWrapper .aboutTechInner .contentTxt {
    font-size: 18px;
    line-height: 30px;
  }
  .majorIndustriesWrapper {
    padding: 48px 0px;
  }
  .majorIndustriesWrapper .heading {
    font-size: 28px;
    line-height: 46px;
  }
  .majorIndustriesWrapper .contentTxt {
    font-size: 18px;
    line-height: 28px;
  }
  .majorIndustriesWrapper .majorIndustriesListWrapper .majorIndustriesList {
    width: calc(50% - 20px);
    margin-bottom: 40px;
    margin-right: 40px;
  }
  .majorIndustriesWrapper .majorIndustriesListWrapper .majorIndustriesList:nth-child(2n + 2) {
    margin-right: 0px;
  }
  .majorIndustriesWrapper .majorIndustriesListWrapper .majorIndustriesList:nth-child(3) {
    margin-right: 40px;
  }
  .handpickedToolWrapper {
    padding: 0px 0 48px;
  }
  .handpickedToolWrapper .heading {
    font-size: 28px;
    line-height: 44px;
  }
  .handpickedToolWrapper .contentTxt {
    font-size: 18px;
  }
  .handpickedToolWrapper .handpickedToolListWrapper .handpickedToolList {
    width: calc(50% - 15px);
    box-sizing: border-box;
    margin-right: 30px;
  }
  .handpickedToolWrapper .handpickedToolListWrapper .handpickedToolList:nth-child(3) {
    margin-right: 30px;
  }
  .handpickedToolWrapper .handpickedToolListWrapper .handpickedToolList:nth-child(2n + 2) {
    margin-right: 0px;
  }
  .darkBuildProductWrapper.mt-140 {
    margin-top: 70px;
  }
  .darkBuildProductWrapper .heading {
    font-size: 28px;
    line-height: 38px;
  }
  .teamWelcomeWrapper {
    min-height: auto;
  }
  .teamWelcomeWrapper .welcome-inner {
    height: auto;
  }
  .aboutUsWrapper .aboutUsInner {
    flex-direction: column;
    text-align: center;
  }
  .aboutUsWrapper .aboutUsInner .heading {
    padding-right: 0px;
    padding-bottom: 10px;
  }
  .partnerWrapper {
    padding: 48px 0;
  }
  .partnerWrapper .partnerInner .heading {
    text-align: center;
    margin-bottom: 30px;
    font-size: 32px;
    line-height: 48px;
  }
  .partnerWrapper .partnerInner .partnerDetailsWrapper {
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
  }
  .partnerWrapper .partnerInner .partnerDetailsWrapper .partnerContent {
    width: 100%;
    margin-bottom: 30px;
  }
  .partnerWrapper .partnerInner .partnerDetailsWrapper .partnerContent .contentTxt {
    padding-right: 0px;
  }
  .partnerWrapper .partnerInner .partnerDetailsWrapper .partnerPicWrapper {
    margin: 0 auto;
  }
  .teamMemberWrapper .workingMemberWrapper {
    flex-direction: column;
  }
  .teamMemberWrapper .workingMemberWrapper .heading {
    margin-bottom: 16px;
  }
  .teamMemberWrapper .workingMemberWrapper .contentTxt {
    margin-bottom: 16px;
  }
  .teamMemberWrapper .workingMemberWrapper .contentTxt:last-child {
    margin-bottom: 0px;
  }
  .meetTeamWrapper .meetTeamInner .teamBenefitsWrapper .teamBenefitList .teamAvatar {
    width: 55px;
  }
  .meetTeamWrapper .meetTeamInner .teamBenefitsWrapper .teamBenefitList .teamAvatar img {
    width: inherit;
  }
  .meetTeamWrapper .meetTeamInner .teamBenefitsWrapper .teamBenefitList .teamBenefitsContent .subHeading {
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 0px;
  }
  .meetMemberHeader {
    min-height: auto;
  }
  .meetMemberHeader .welcome-inner {
    height: auto;
    padding: 120px 0 0px 0;
  }
  .meetTeamWrapper {
    padding: 48px 0 32px;
  }
  .meetTeamWrapper .meetTeamInner .heading1 {
    margin: 40px auto;
  }
  .meetTeamWrapper .meetTeamInner .teamBenefitsWrapper .teamBenefitList {
    width: calc(50% - 20px);
    margin-right: 40px;
  }
  .sec-visit-website > .sec-be-you:first-child {
    padding-top: 48px;
  }
  .sec-be-you {
    margin-top: 48px;
    flex-direction: column;
  }
  .sec-be-you .sec-be-you-plus {
    width: 100%;
    order: 1;
    margin-left: 8px;
    margin-top: 20px;
  }
  .sec-be-you .img-sec-be-you-plus {
    width: 100%;
  }
  .business-banner {
    min-height: auto;
  }
  .welcomeWrapper {
    min-height: auto;
  }
  .h1-heading {
    font-size: 36px;
    line-height: 44px;
  }
  .service-heading h2 {
    font-size: 36px;
    line-height: 44px;
  }
  .service-heading p {
    font-size: 18px;
  }
  .service-main-outer {
    margin-left: -20px;
    margin-right: -20px;
  }
  .service-col {
    width: 50%;
    padding: 20px;
  }
  .service-col .service-name img {
    max-width: 80px;
    margin-bottom: 15px;
  }
  .devlopment-sec {
    padding: 48px 0;
  }
  .exp-col {
    max-width: 25%;
    flex: 0 0 25%;
  }
  .expertise-row {
    margin-top: 50px;
    flex-wrap: wrap;
  }
  .expertise-row .expetise-col {
    max-width: 100%;
    flex: 0 0 100%;
  }
  .exp-heading {
    font-size: 32px;
    line-height: 42px;
    margin-bottom: 20px 0px 30px;
  }
  .devlopment-row:nth-child(2n + 3) .d-bdr-r {
    display: none;
  }
  .devlopment-row:last-child .devlopment-col {
    padding-bottom: 0px;
  }
  .devlopment-row .circle-right:before, .devlopment-row .circle-left:before {
    left: -14px;
    top: 10px;
  }
  .devlopment-row .devlopment-col {
    padding: 20px;
    width: 100%;
    border-left: 4px dashed rgba(0, 68, 255, 0.1);
    border-right: 0px;
    padding-left: 60px;
    padding-bottom: 50px;
  }
  .devlopment-row .devlopment-col.d-pd-90 {
    padding-left: 60px !important;
  }
  .devlopment-row .devlopment-col .devlopment-inner {
    padding: 20px;
    max-width: 100%;
    width: 100%;
  }
  .devlopment-row .devlopment-col .devlopment-inner:before {
    display: none;
  }
  .devlopment-row .devlopment-col .devlopment-inner img {
    width: 50px;
    height: 50px;
  }
  .skill-sec {
    padding: 48px 20px;
  }
  .skill-sec .skill-row {
    flex-direction: column;
  }
  .skill-sec .skill-row .service-heading {
    text-align: center;
  }
  .skill-sec .skill-col {
    max-width: 100%;
    flex: 0 0 100%;
  }
  .skill-cont-col {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }
  .skill-cont-col .skill-cont {
    width: 50%;
    margin-top: 24px;
  }
  .skill-cont-col .skill-cont .skill-circle {
    width: 46px;
    height: 46px;
  }
  .skill-cont-col .skill-cont .skill-circle img {
    width: 80%;
  }
  .skill-cont-col .skill-cont .skill-para p {
    font-size: 20px;
  }
  .skill-cont-col .skill-cont .skill-para h4 {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 0px;
  }
  .client-sec {
    padding: 48px 0;
  }
  .client-sec .client-row {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .client-sec .client-row .client-col {
    margin-bottom: 30px;
    margin-right: 30px;
  }
  .web-service {
    display: none;
  }
  .mobile-service {
    display: flex;
  }
}

@media only screen and (max-width: 767px) {
  .header .navWrapper .navMenu {
    width: 100%;
    left: -150pc;
    padding-left: 30px;
  }
  .welcomeWrapper .welcome-inner {
    flex-direction: column;
    height: unset;
    padding: 100px 0 55px 0;
  }
  .welcomeWrapper .welcome-inner .welcome-inner-left {
    width: 100%;
    padding-right: 0px;
  }
  .welcomeWrapper .welcome-inner .welcome-inner-left .welcomeHeading {
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 20px;
  }
  .welcomeWrapper .welcome-inner .welcome-inner-left .welcomeTxt {
    font-size: 16px;
    line-height: 24px;
  }
  .welcomeWrapper .welcome-inner .welcome-inner-right {
    width: 100%;
    margin-top: 50px;
  }
  .talkToUsWrapper .talkToUsInner {
    flex-direction: column;
  }
  .talkToUsWrapper .talkToUsInner .talkToUsContent {
    width: 100%;
    padding-right: 0px;
    margin-bottom: 40px;
  }
  .talkToUsWrapper .talkToUsInner .talkToUsContent .talkToUsHeading {
    font-size: 32px;
    margin-bottom: 20px;
  }
  .talkToUsWrapper .talkToUsInner .talkToUsContent .talkToUsList li {
    margin-bottom: 16px;
  }
  .talkToUsWrapper .talkToUsInner .talkToUsForm {
    width: 100%;
  }
  .partTeamWrapper {
    padding: 48px 0;
  }
  .partTeamWrapper .partTeamHeader {
    font-size: 28px;
    margin-bottom: 12px;
  }
  .partTeamWrapper .partTeamTxt {
    font-size: 18px;
    margin-bottom: 16px;
  }
  .partTeamWrapper .partTeamAction .infoBtn {
    font-size: 16px;
    height: 46px;
  }
  .partTeamWrapper .partTeamAction .infoBtn .icon {
    width: 28px;
    height: 28px;
  }
  .collaboratingWrapper {
    padding: 48px 0;
  }
  .collaboratingWrapper .collaboratingHeader {
    font-size: 28px;
    line-height: 38px;
  }
  .collaboratingWrapper .collaboratingTxt {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 28px;
  }
  .collaboratingWrapper .locationCollaboratingWrapper .locationCollaboratingList {
    width: 100%;
    margin: 0px;
    margin-bottom: 20px;
  }
  .collaboratingWrapper .locationCollaboratingWrapper .locationCollaboratingList .locationHeading {
    font-size: 20px;
    line-height: 28px;
  }
  .customerFeedbackWrapper {
    padding: 48px 0;
  }
  .customerFeedbackWrapper .customerFeedbackInner .customerFeedbacMsg {
    font-size: 20px;
    line-height: 28px;
  }
  .buidProductWrapper {
    padding: 48px 0 48px;
  }
  .buidProductWrapper .heading {
    font-size: 28px;
    line-height: 40px;
  }
  .talkAboutProject {
    padding: 48px 0px;
  }
  .talkAboutProject .talkAboutProjectSec .talkAboutProjectSchedule {
    margin-bottom: 50px;
  }
  .talkAboutProject .talkAboutProjectSec .talkAboutProjectSchedule .talkHeading {
    font-size: 32px;
    line-height: 40px;
  }
  .talkAboutProject .talkAboutProjectSec .locationDetails .locationAddress {
    width: 100%;
    margin-bottom: 50px;
  }
  .talkAboutProject .talkAboutProjectSec .locationDetails .locationAddress:nth-child(2n + 2) {
    margin-left: 0px;
  }
  .talkAboutProject .talkAboutProjectSec .locationDetails .locationAddress .locationRightSec .locationCountry {
    font-size: 28px;
    line-height: 40px;
  }
  .footerWrapper .footerTop .footerTopInner .footerLinkWrapper {
    flex-wrap: wrap;
  }
  .footerWrapper .footerTop .footerTopInner .footerLinkWrapper .footerLinkSec {
    width: 100%;
    padding-left: 0px;
    padding-bottom: 40px;
  }
  .footerWrapper .footerTop .footerTopInner .footerLinkWrapper .footerLinkSec:last-child {
    padding-bottom: 0px;
  }
  .footerWrapper .footerTop .footerTopInner .footerLinkWrapper .footerLinkSec .footerHeading {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 12px;
  }
  .footerWrapper .footerCopyright {
    padding: 15px 0;
  }
  .footerWrapper .footerCopyright .mainContainer {
    justify-content: unset;
    flex-direction: column;
    text-align: center;
  }
  .footerWrapper .footerCopyright .mainContainer .socialLink {
    padding-top: 10px;
  }
  .serviceBanner {
    min-height: unset;
  }
  .serviceBanner .welcome-inner {
    padding: 120px 0 135px 0;
  }
  .stop-solution-sec .Heading-div {
    text-align: center;
  }
  .stop-solution-sec .Stoptxt {
    text-align: center;
  }
  .service-new-sec .service-heading p {
    width: 100%;
    font-size: 16px;
  }
  .service-new-sec .service-col {
    width: 100%;
  }
  .service-new-sec .service-col:nth-child(2n + 2) {
    margin-left: 0px;
  }
  .start-here .start-col {
    flex-direction: column;
  }
  .start-here .start-card {
    width: 100%;
  }
  .start-here .start-card:nth-child(2n + 2) {
    margin-left: 0px;
  }
  .start-here .start-col-left {
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
  }
  .start-here .start-left-img {
    width: 100%;
    margin: 0px;
  }
  .tech-casestudies-sec .casestudy-row .casestudy-col {
    max-width: 50%;
    flex: 0 0 50%;
  }
  .tech-casestudies-sec .casestudy-row .casestudy-col .study-img {
    padding: 10px;
  }
  .our-company-sec .company-col {
    width: 100%;
    padding-left: 0px;
    margin-left: 0px;
    border: none;
    text-align: center;
    margin-bottom: 30px;
  }
  .our-company-sec .company-col:last-child {
    margin-bottom: 0px;
  }
  .our-company-sec .company-row {
    flex-wrap: wrap;
  }
  .technologySolutionHeader {
    min-height: auto;
  }
  .technologySolutionHeader .welcome-inner {
    padding: 100px 0 145px 0;
  }
  .majorIndustriesWrapper .majorIndustriesListWrapper .majorIndustriesList {
    width: 100%;
    margin-bottom: 40px;
    margin-right: 0px;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }
  .majorIndustriesWrapper .majorIndustriesListWrapper .majorIndustriesList:nth-child(3) {
    margin-right: 0px;
  }
  .handpickedToolWrapper .contentTxt {
    max-width: 100%;
  }
  .handpickedToolWrapper .handpickedToolListWrapper .handpickedToolList {
    width: 100%;
    box-sizing: border-box;
    margin-right: 0px;
  }
  .handpickedToolWrapper .handpickedToolListWrapper .handpickedToolList:nth-child(3) {
    margin-right: 0px;
  }
  .teamWelcomeWrapper .welcome-inner {
    padding: 100px 0 0px 0;
  }
  .teamMemberWrapper .teamMemberSec .teamMemberList {
    max-width: calc(50% - 30px);
  }
  .teamMemberWrapper .workingMemberWrapper .contentTxt {
    text-align: center;
    margin-right: 0px;
  }
  .teamMemberWrapper .workingMemberWrapper .heading {
    justify-content: center;
    padding-right: 0px;
  }
  .partnerWrapper .partnerInner .partnerDetailsWrapper .partnerPicWrapper {
    width: 100%;
  }
  .meetTeamWrapper .meetTeamInner .teamBenefitsWrapper .teamBenefitList {
    flex-direction: unset;
    width: 100%;
    margin-right: 0px;
    margin-bottom: 28px;
  }
  .meetTeamWrapper .meetTeamInner .teamBenefitsWrapper .teamBenefitList .teamAvatar {
    height: 55px;
  }
  .meetTeamWrapper .meetTeamInner .teamBenefitsWrapper .teamBenefitList .teamAvatar img {
    height: 100%;
  }
  .port-start-sec {
    min-height: auto;
  }
  .thanksWrapper .welcome-inner {
    padding: 120px 0 50px 0;
  }
  .h1-heading {
    font-size: 32px;
    line-height: 40px;
  }
  .bussiness-heading {
    padding: 0px 20px;
  }
  .our-service-sec .service-heading {
    max-width: 100%;
  }
  .our-service-sec .service-heading h2 {
    font-size: 32px;
    line-height: 40px;
  }
  .service-col {
    width: 100%;
  }
  .devlopment-sec .service-heading {
    max-width: 100%;
  }
  .devlopment-sec .service-heading h2 {
    font-size: 32px;
    line-height: 40px;
  }
  .service-heading {
    max-width: 100%;
  }
  .service-heading h2 {
    font-size: 32px;
    line-height: 40px;
  }
  .exp-col {
    max-width: 50%;
    flex: 0 0 50%;
  }
  .expert-sec {
    padding: 40px 0 48px;
  }
  .skill-sec {
    padding: 48px 0px;
  }
  .skill-sec .skill-cont-col .skill-cont {
    width: 100%;
    align-items: flex-start;
  }
  .skill-sec .skill-cont-col .skill-cont .skill-circle img {
    width: auto;
  }
  .why-us-sec {
    padding-top: 0px;
  }
  .expertise-row {
    margin-left: 0px;
    margin-right: 0px;
  }
  .expertise-row .expetise-col {
    padding: 0px;
  }
  .bussiness-heading {
    width: 100%;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 490px) {
  .mainContainer {
    padding: 0px 20px;
  }
  .welcomeWrapper .welcome-inner .welcome-inner-left .welcomeHeading {
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 10px;
  }
  .talkToUsWrapper .talkToUsInner .talkToUsContent .talkToUsHeading {
    font-size: 24px;
    margin-bottom: 15px;
    line-height: 36px;
  }
  .talkToUsWrapper .talkToUsInner .talkToUsForm .talkToUsFormInner .formRow {
    flex-wrap: wrap;
  }
  .talkToUsWrapper .talkToUsInner .talkToUsForm .talkToUsFormInner .formRow .formBox {
    width: 100%;
    margin-right: 0px;
  }
  .partTeamWrapper .partTeamAction {
    flex-direction: column;
  }
  .partTeamWrapper .partTeamAction .infoBtn {
    margin: 0px 0px 10px;
  }
  .partTeamWrapper .partTeamAction .infoBtn:last-child {
    margin: 0px 0px 0px;
  }
  .talkAboutProject .talkAboutProjectSec .talkAboutProjectSchedule .talkHeading {
    font-size: 24px;
    line-height: 32px;
  }
  .talkAboutProject .talkAboutProjectSec .locationDetails .locationAddress .locationRightSec .locationCountry {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 16px;
  }
  .serviceBanner .welcome-inner .welcome-inner-left .welcomeHeading {
    font-size: 24px;
    line-height: 32px;
  }
  .stop-solution-sec .Heading-div {
    font-size: 24px;
  }
  .service-new-sec .service-heading h2 {
    font-size: 24px;
  }
  .start-here .start-left-txt {
    font-size: 16px;
  }
  .start-here .startMain-heading {
    font-size: 24px;
  }
  .start-here .start-card {
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 16px 20px;
  }
  .start-here .start-right-icon {
    margin-right: 0px;
    margin-bottom: 20px;
  }
  .service-col .service-name {
    padding: 16px 16px;
    text-align: center;
  }
  .service-col .service-name h4 {
    margin: 8px 0 12px;
  }
  .service-main-outer {
    margin-top: 40px;
  }
  .solutions-services-sec .solutions-more {
    font-size: 16px;
  }
  .solutions-services-sec .solutions-link-item {
    margin-bottom: 12px;
  }
  .solutions-services-sec .solutions-link {
    font-size: 16px;
  }
  .solutions-services-sec .solution-main-heading {
    font-size: 24px;
    margin-bottom: 35px;
  }
  .solutions-services-sec .solutions-col-sec {
    width: 100%;
    margin-left: 0px;
  }
  .solutions-services-sec .solutions-col-sec:nth-child(2n + 2) {
    margin-left: 0px;
  }
  .tech-casestudies-sec .heading {
    font-size: 24px;
    line-height: 32px;
  }
  .tech-casestudies-sec .contentTxt {
    font-size: 16px;
  }
  .tech-casestudies-sec .casestudy-row {
    padding: 0px 20px;
  }
  .tech-casestudies-sec .casestudy-row .casestudy-col {
    max-width: 100%;
    flex: 0 0 100%;
    padding-bottom: 20px;
  }
  .tech-casestudies-sec .casestudy-row .casestudy-col:last-child {
    padding-bottom: 0px;
  }
  .tech-casestudies-sec .casestudy-row .casestudy-col .study-img {
    padding: 0px;
  }
  .technologySolutionHeader .welcome-inner .welcome-inner-left .welcomeHeading {
    font-size: 24px;
    line-height: 32px;
  }
  .aboutTechWrapper .aboutTechInner .heading {
    font-size: 24px;
    line-height: 32px;
  }
  .aboutTechWrapper .aboutTechInner .contentTxt {
    font-size: 16px;
    line-height: 24px;
  }
  .majorIndustriesWrapper .heading {
    font-size: 24px;
    line-height: 32px;
  }
  .majorIndustriesWrapper .contentTxt {
    font-size: 16px;
    line-height: 24px;
  }
  .majorIndustriesWrapper .majorIndustriesListWrapper .majorIndustriesList .majorIndustriesListContent .subHeadeing {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 12px;
  }
  .handpickedToolWrapper .heading {
    font-size: 24px;
    line-height: 32px;
  }
  .handpickedToolWrapper .contentTxt {
    font-size: 16px;
  }
  .handpickedToolWrapper .handpickedToolListWrapper .handpickedToolList .subHeading {
    font-size: 20px;
    line-height: 28px;
  }
  .whyus-heading {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 30px;
  }
  .why-us-row .why-us-col {
    padding: 10px 0;
  }
  .darkBuildProductWrapper .heading {
    font-size: 24px;
    line-height: 32px;
  }
  .welcomeWrapper .welcome-inner .welcome-inner-left .welcomeHeading {
    font-size: 24px;
    line-height: 32px;
  }
  .aboutUsWrapper .aboutUsInner .heading {
    font-size: 24px;
    line-height: 32px;
  }
  .partnerWrapper .partnerInner .heading {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 20px;
  }
  .teamMemberWrapper .workingMemberWrapper .heading {
    text-align: center;
    font-size: 24px;
    line-height: 32px;
  }
  .teamMemberWrapper .teamMemberSec .teamMemberList {
    max-width: 100%;
  }
  .meetTeamWrapper .meetTeamInner .teamBenefitsWrapper .teamBenefitList {
    flex-direction: column;
  }
  .meetTeamWrapper .meetTeamInner .teamBenefitsWrapper .teamBenefitList .teamAvatar {
    margin: 0 auto;
  }
  .meetTeamWrapper .meetTeamInner .teamBenefitsWrapper .teamBenefitList .teamBenefitsContent {
    text-align: center;
  }
  .meetTeamWrapper .meetTeamInner .heading {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 20px;
  }
  .meetTeamWrapper .meetTeamInner .heading1 {
    margin: 20px 0px 30px;
    font-size: 24px;
    line-height: 32px;
  }
  .callUs .number {
    font-size: 20px;
  }
  .port-start-sec welcome-inner .welcome-inner-left .welcomeHeading {
    font-size: 24px;
    line-height: 32px;
  }
  .welcomeHeading-new {
    font-size: 24px;
    line-height: 32px;
  }
  .inner-sec-be-you-plus {
    padding: 20px;
  }
  .sec-be-you-plus {
    border-left: none;
    text-align: center;
  }
  .h1-heading {
    font-size: 24px;
    line-height: 32px;
  }
  .our-service-sec .service-heading h2 {
    font-size: 24px;
    line-height: 32px;
  }
  .devlopment-sec .service-heading h2 {
    font-size: 24px;
    line-height: 32px;
  }
  .devlopment-row.mt80 {
    margin-top: 40px;
  }
  .devlopment-row .devlopment-col .devlopment-inner h4 {
    font-size: 20px;
    line-height: 28px;
  }
  .service-heading h2 {
    font-size: 24px;
    line-height: 32px;
  }
  .service-heading p {
    font-size: 16px;
  }
  .exp-heading {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 15px;
  }
  .client-sec .client-row .client-col {
    margin-right: 25px;
  }
  .client-sec .client-row .client-col img {
    width: 130px;
  }
  .why-us-sec {
    padding: 0px 0px 48px;
  }
  .devlopment-row .devlopment-col {
    border-left: none;
    padding-left: 20px;
    text-align: center;
  }
  .devlopment-row .devlopment-col .devlopment-inner img {
    position: relative;
    transform: unset;
  }
  .devlopment-row .devlopment-col.d-pd-90 {
    padding-left: 20px !important;
  }
  .devlopment-row .devlopment-col:before {
    display: none;
  }
}
